.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  align-items: center;
  padding: 50px 0;
}

.boxs {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100vh;
  overflow-y: scroll;
}

.cardImage {
  width: 6vw;
}

.imageBox {
  border-radius: 100%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txtPart {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
}

.txtPart::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 10vw;
  width: 60%;
  height: 2px;
  background-color: #800909;
}

.tag {
  padding: 10px 20px;
  border-radius: 20px;
}

.marc {
  color: #fff;
  background-color: #800909;
  text-decoration: none;
}

.type {
  background-color: #deb887;
  text-decoration: none;
  color: black;
}

.txtPart h2 {
  font-size: 50px;
}

.tags {
  display: flex;
  gap: 30px;
}

.pryce {
  font-size: 40px;
}

.x {
  width: 25px;
  transition: all 0.3s;
}

.x:hover {
  animation: grouw 0.2s linear;
  transform: scale(1.1);
}

@keyframes grouw {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

.number {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: #deb887 2pt solid;
  font-size: 40px;
  text-align: center;
}
/* ===== Number ==== */
/* ~~ remouve defaaulte spinner ~~ */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.number-input {
  border: 2px solid #800909;
  border-radius: 20px;
  display: inline-flex;
}

.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: 0.5rem;
  border: solid #800909;
  border-width: 0 2px;
  font-size: 40px;
  height: 3rem;
  text-align: center;
}
/* ===== Number end ==== */

#back {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: auto;
}

.plus:hover {
  animation: shakeUp 0.5s linear;
}

@keyframes shakeUp {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
