*,
body,
p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100px;
    padding: 20px 30px;
    align-items: center;
}

#logo {
    width: 200px;
}

.nav {
    padding: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBut {
    font-size: 30px;
    text-decoration: none;
    color: #f0f8ff;
    position: relative;
}

.navBut::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #f0f8ff;
    transition: all 0.3s;
}

.navBut:hover::after {
    width: 60%;
    left: 22%;
    transition: all 0.2s;
}

#find,
#cart {
    width: 40px;
    transition: all 0.3s;
}

#find:hover {
    animation: grouw 0.1s linear;
    transform: scale(1.1);
}

@keyframes grouw {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.12);
    }
    100% {
        transform: scale(1.05);
    }
}

#cart:hover {
    animation: shake 0.7s linear;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(3px);
    }
    40% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}

#One {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

#h {
    text-align: center;
    font-size: 100px;
}

#par {
    display: flex;
    flex-direction: row-reverse;
}

#One p {
    font-size: 30px;
    text-align: end;
    padding: 400px 70px;
    width: 35vw;
}

#pageOne {
    background-image: url("../images/klim-musalimov-QvEG1o0YmsA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#nextPage {
    width: 100vw;
    padding: 40px 0 0 0;
}

.container {
    width: 100vw;
    display: flex;
}

.cardImg {
    width: 30vw;
    height: fit-content;
    margin: 10vw 0 0 0;
    position: relative;
}

.cardImg::before {
    content: url("../images/icones/heart.svg");
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
}


.textPart {
    padding: 90px;
    display: flex;
    flex-direction: column;
    margin: 10vw 0 0 0;
    width: 70vw;
}

.textPart h2 {
    font-size: 100px;
}

.textPart p {
    padding: 20px 0;
    font-size: 30px;
}

.textPart .l {
    text-align: end;
    padding: 0 100px;
}

.pryce {
    padding: 20px;
    font-size: 40px;
}

.tags {
    display: flex;
    gap: 20px;
}

.last {
    display: flex;
    padding: 20px 0;
}

.r {
    justify-content: end;
}

.artBut {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.artBut button {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
}

.buy {
    background-color: #cf964c;
    position: relative;
    overflow: hidden;
    border: none;
}

.buy::after,
.buy::before {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 150px;
    height: 50px;
    background-color: #ffffff6c;
    transition: all 0.4s;
    transition-delay: 0.3s;
}

.buy::after {
    left: -120px;
    transform: rotate(-45deg);
}

.buy::before {
    left: -110px;
    transform: rotate(-45deg);
}

.buy:hover::after {
    transform: translate(400px) rotate(-45deg);
    transition: all 0.2s;
}

.buy:hover::before {
    transform: translate(400px) rotate(-45deg);
    transition: all 0.4s;
}

.infoBut {
    background-color: #fff;
    border: none;
    position: relative;
}

.infoBut::after {
    content: "";
    position: absolute;
    bottom: 40%;
    left: -4.5px;
    width: 104%;
    height: 25px;
    background-color: #ffffff;
    z-index: -1;
    opacity: 0;
    transition: all 0s;
}

.infoBut::before {
    content: "";
    position: absolute;
    background-color: #cf964c;
    height: 108%;
    width: 102%;
    top: -4%;
    left: -1%;
    border-radius: 20px;
    z-index: -2;
}

.infoBut:hover::after {
    opacity: 1;
    transition: all 0.4s;
    animation: rotate 7s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.tag {
    padding: 10px 20px;
    border-radius: 20px;
}

.marc {
    color: #fff;
    background-color: #800909;
    text-decoration: none;
}

.type {
    background-color: #deb887;
    text-decoration: none;
    color: black;
}

footer {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 70px;
    background-color: #000000;
    filter: brightness(80%);
    overflow: hidden;
}

#backgroundImage {
    position: absolute;
    bottom: -700px;
    left: -7vw;
    width: 130vw;
    height: 130vw;
    z-index: -1;
    animation: backRotate infinite linear 400s;
}

@keyframes backRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(260deg);
    }
}

#logoFoot {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards1 {
    height: 50%;
}

.footNav {
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-left: solid 2pt #ffffff49;
    padding: 0 10px 0 50px;
}

.footNav a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.heart:hover {
    transform: scale(1.1);
    animation: shakeHeart 0.7s linear;
}

@keyframes shakeHeart {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(6deg);
    }
    80% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.historyIc:hover {
    transform: scale(1.1);
    animation: rotateHistory 0.6s ease;
}

@keyframes rotateHistory {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.grouw:hover {
    animation: grouw 0.3s linear;
    transform: scale(1.1);
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .artBut {
        flex-wrap: wrap;
    }
    #h {
        font-size: 80px;
    }
    #logoFoot {
        display: none;
    }
    footer{
        padding: 5px 10px;
    }
    .footNav {
        width: 50%;
    }

    .footNav a {
        font-size: 20px;
        gap: 10px;
    }
    .pageOne {
        height: fit-content;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .nav {
        width: 100%;
        padding: 20px 0;
        justify-content: space-around;
    }

    .navBut {
        font-size: 20px;
    }

    #One p {
        padding: 200px 20px;
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .cardImg {
        width: 100%;
        margin: 0;
    }



    .textPart {
        padding: 50px;
        margin: 0;
    }

    .textPart h2 {
        font-size: 60px;
    }

    .textPart p {
        font-size: 20px;
    }

    .textPart .l {
        padding: 0;
    }

    .pryce {
        font-size: 30px;
    }

    .footNav {
        padding: 0;
        border-left: none;
        align-items: center;
    }

    .footNav a {
        width: auto;
        font-size: 20px;
    }

    .rightC {
        flex-direction: column-reverse;
    }
}
