*, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.root {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.leftImage {
    max-width: 50vw;
    min-height: 800px;
}

#right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

#right h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
}

#register{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    border: 1.5pt #cf964c solid;
    background-color: #cf964c;
}


form {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px;
    align-items: end;
}

.userInfo {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    border: 1.5pt #cf964c solid;
    padding: 20px 10px 20px 20px;
    
}

.userInfo:focus {
    outline: #800909 2.5px solid;
}

label {
    font-size: 30px;
}

#x {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    transition: all .3s;
}

#x:hover {
    animation: grouw .2s linear  ;
    transform: scale(1.1);
}

@keyframes grouw {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Media Queries */

@media (max-width: 768px) {
    .root {
        flex-direction: column;
    }
    
    .leftImage {
        display: none;
    }
    
    #right {
        padding: 50px;
    }
    
    input {
        width: 100%;
    }
}

